@supports (scrollbar-width: none) {
* {
  scrollbar-width: none !important;
  }
}

@supports not (scrollbar-width: none) {
*::-webkit-scrollbar {
  display: none !important;
  }
} 

body, html {
  margin: 0;
  font-family: sans-serif;
  background-color: #040d21;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

main {
  width: 100vw;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  perspective: 1000px;
  position: absolute;
  top: 44%;
}

.content-wrapper.hover .content {
  transform: rotateX(-180deg);
}

.content-wrapper .content {
  transition: 0.6s;
  transform-style: preserve-3d;
  transform-origin: 100% 40%;
  position: relative;
}

.content-wrapper .content #embed, .content-wrapper .content .forms-wrapper {
  backface-visibility: hidden;
  top: 0;
  left: 0;
}

.content-wrapper .content #embed {
  transform: rotateX(180deg);
  color: #fff;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.content-wrapper .content #embed.youtube {
  background: #FF0000;  
  box-shadow: 0 0px 200px -30px #f44336;
  border-radius: 25px;
}

.content-wrapper .content #embed.youtube .back {
  color: black;
  background: white;
}

.content-wrapper .content #embed #link {
  max-width: 330px;
  min-width: 330px;
  text-align: center;
  text-decoration: none;
}

.content-wrapper .content #embed .back {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background: #fff;
  padding: 10px 15px;
  font-size: 3rem;
  cursor: pointer;
  transition: all .3s;
}

/* 


*/
.content-wrapper .content .forms-wrapper {
  z-index: 2;
  font-size: 40px;
  transform: rotateX(0deg);
  box-shadow: 0 0px 200px #673ab7;
  transition: 300ms;
}

.content-wrapper .content .forms-wrapper:hover{
 transform: scale(1.022);
}
.content-wrapper .content .forms-wrapper .error {
  position: absolute;
  top: -45px;
  right: 0;
  left: 0;
  text-align: center;
  color: red;
  font-size: 2rem;
  border-radius: 10px 10px 0 0;
}

/* 


*/
.content-wrapper .content form {
  display: flex;
  align-items: stretch;
}

.content-wrapper .content form:not(:first-of-type) {
  margin-top: 15px;
  margin-bottom: 15px;
}

.content-wrapper .content form input:focus {
  outline: none;
  background: #fff;
}

.content-wrapper .content form input[type="text"] {
  padding: 15px;
  width: 70vw;
  max-width: 1000px;
  min-width: 200px;
}

.content-wrapper .content form input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  font-size: 3rem;
  font-weight: bold;
  padding: 5px 15px;
  color: #fff;
  cursor: pointer;
  transition: all .2s;
  height: 89px;
  max-width: 116px;
  min-width: 116px;
}

a#link:hover {
  transform: scale(1.1);
}

.content-wrapper .content form#youtube input[type="text"] {
  border: 2px solid #000000;
  font-size: 2rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.content-wrapper .content form#youtube input[type="submit"] {
  background: #FF0000;   
    border: 2px solid #000000;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 0.5s;
}

.content-wrapper .content form#youtube input[type="submit"]:hover {
  background-color: tomato;
}

/* 


*/

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* 


*/

.leftGlow {
  position: absolute;
  background: #043a8a;
  width: 50vh;
  height: 400px;
  filter: blur(10em);
  left: -280px;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.6;
}

.rightTopGlow{
  position: absolute;
  background: #db469f;
  width: 50vh;
  height: 400px;
  filter: blur(10em);
  opacity: 0.4;
  right: -245px;
  top: -130px;
}

.rightBottomGlow{
  position: absolute;
  background: #043a8a;
  width: 50vh;
  height: 400px;
  filter: blur(10em);
  opacity: 0.4;
  right: -245px;
  bottom: -200px;
}