@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

@supports (scrollbar-width: none) {
  * {
    scrollbar-width: none !important;
  }
}
@supports not (scrollbar-width: none) {
  *::-webkit-scrollbar {
    display: none !important;
  }
}


:root {
  --bg-color-infopanels: rgb(0 0 0 / 100%);
  --colorbox-shadow: rgb(0 0 0 / 100%) 0px 0px 1rem;
  --bg-color-body: #0d1117;
}


/* Default colors
 :root {
  --bg-color-infopanels: rgb(0, 0, 0);
  --colorbox-shadow: rgb(0 0 0) 0px 0px 4rem;
  --bg-color-body: #0d1117;
} */

@media only screen and (max-width: 1200px){
  .baseInfo {
    display: flex !important;
    flex-direction: column !important;
    align-content: flex-end !important;
    align-items: flex-start !important;
  }
  .flx {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
  }
  .StartTime{
    margin-left: 0 !important;
    margin-top: 10px !important;
  }
  .tagsAndDownloadLinks {
    align-items: flex-start !important;
    flex-direction: column !important;
}
}

/* 


Start 


*/

iframe#ytvideoIframe {
  width: 100%;
  height: 100vh;
}

.loadingAnimation {
  width: 60px;
  height: 50px;
  color: white;
  --c: radial-gradient(farthest-side,currentColor 90%,#fff0);
  background: var(--c) 50% 0, var(--c) 0 100%, var(--c) 100% 100%;
  background-size: 22px 22px;
  background-repeat: no-repeat;
  position: relative;
  animation: d6 700ms infinite;
}

@keyframes d6{
  50%,100% {background-position: 100% 100%,50% 0,0 100%}
}

#loading{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 55px;
}

.VideoInfo {
  font-family: 'Ubuntu', sans-serif;
  color: white;
  position: absolute;
  bottom: 0;
  top: 100%;
  margin-left: 20px;
  width: 70%;
  height: max-content;
  padding-right: 100%;
}

#dl{
  display: none;
}

span.formattext {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

a.mdi.mdi-download {
  display: block;
}

.bytesibtn {
  display: flex;
  padding-left: 10px;
}

/* 

Title

*/

.title {
  font-size: 40px;
  background: var(--bg-color-infopanels);
  box-shadow: var(--colorbox-shadow);
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  font-weight: bold;
  display: flex;
  width: max-content;
  cursor: pointer;
}

div#title {
  margin-left: -40px;
  text-indent: 1em;
}
/* 

Base info

*/

.baseInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  transition: ease all .5s;
  column-gap: 10px;
}

/* 

Percent Likes and DisLikes

*/
.percent {
  font-size: 40px;
  background: var(--bg-color-infopanels);
  box-shadow: var(--colorbox-shadow);
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  width: min-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center;
}

progress#likeProgress {
  height: 10px;
  width: 100%;
}

.lf {
  display: flex;
  margin-left: 10px;
}

.like{
  display: flex;
  align-items: baseline;
}
.disLike {
  margin-left: 10px;
  display: flex;
  align-items: baseline;
}

div#likesCount {
  margin-left: 10px;
  margin-right: 10px;
}

div#dislikeCount {
  margin-left: 10px;
  margin-right: 10px;
}

.mdi-eye, .mdi-account-multiple{
  transition: 200ms all ease-out;
}


.mdi-thumb-up:hover, .mdi-thumb-down:hover, .mdi-eye:hover, .mdi-account-multiple:hover {
  transform: scale(1.2);
  cursor:pointer;
}

.mdi-thumb-down:active, .mdi-thumb-up:active, .mdi-eye:active, .mdi-account-multiple:active {
  transform: scale(1.1);
  cursor:pointer;
  color:#343434;
}
/* 



*/

.viewers {
  font-size: 40px;
  background: var(--bg-color-infopanels);
  box-shadow: var(--colorbox-shadow);
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  width: fit-content;
  display: flex;
  align-items: center;
}

div#viewersCount{
  margin-left: 3px;
}

.views {
  font-size: 40px;
  background: var(--bg-color-infopanels);
  box-shadow: var(--colorbox-shadow);
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  width: fit-content;
  display: flex;
  align-items: baseline;
  align-items: center;
}

.viewsCo {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  column-gap: 10px;
}

div#viewCount {
  margin-left: 7px;
}


/* 

Channel Info

*/

.flx {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  column-gap: 10px;
}

.CHinfo {
  background: var(--bg-color-infopanels);
  box-shadow: var(--colorbox-shadow);
  padding: 22px;
  margin-top: 10px;
  border-radius: 10px;
  width: fit-content;
  height: 159px;
  display: flex;
  line-height: 1.3;
  align-items: center;
  max-width: 400px;
}

img#CHavatar {
  width: 157px;
  height: 157px;
  border-radius: 100px;
  margin-right: 15px;
  cursor: pointer;
}

div#CHchannelName {
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  max-width: 228px;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 2;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.CHicon {
  display: flex;
  flex-direction: row;
  font-size: 32px;
  justify-content: flex-start;
  align-items: center;
}

.flxText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

div#CHsubscribersCountAPI, div#CHvideoCount, div#CHviewCount {
  margin-left: 10px;
  font-size: 22px;
}

/* 

Start time

*/


.StartTime {
  font-size: 16px;
  background: var(--bg-color-infopanels);
  box-shadow: var(--colorbox-shadow);
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.timeIcon {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

div#scheduledStartTime, div#actualStartTime, div#publishedAt {
  margin-left: 5px;
}



/* 

Description + Tags

*/
.description {
  font-size: 18px;
  background: var(--bg-color-infopanels);
  box-shadow: var(--colorbox-shadow);
  margin-top: 10px;
  border-radius: 10px;
  width: fit-content;
  display: flex;
  align-items: stretch;
  line-height: 1.3;
  flex-direction: column;
  border-color: #6a5acd;
}

div#description {
  white-space: pre-wrap;
}

.tagsAndDownloadLinks {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  column-gap: 10px;
}

.tags, .downloadLinks {
  font-size: 18px;
  background: var(--bg-color-infopanels);
  box-shadow: var(--colorbox-shadow);
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: stretch;
  line-height: 1.3;
  flex-direction: column;
  border-color: #6a5acd;
}

.mdi-comment-text-outline, .mdi-cloud-download, .mdi-tag {
  font-size: 35px;
}

.mdi-download {
  color: #03a9f4 !important;
}

/* 

Settings

*/

div#downloadLinks, div#tags, div#description {
  margin-top: -15px;
}

.p-0{
  padding: 0;
}

.m-0{
  margin: 0;
}

.mTB-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.pt-5{
  padding-top: 5px;
}

.mdi {
  /* font-size:50px; */
  color:gray;
  margin-top: 0px;
  margin-bottom: 0px;
  transition: 200ms all ease-out;
}


svg {
  /* opacity:.5; */
  width:200px;
  height:200px;
}

.daFill {
  fill:rgba(180,0,0,.2);
}

button{
  z-index: 99999999999999999 !important;
}

.footer {
  padding: 15px;
  display: flex;
  z-index: -1;
  width: 150%;
  justify-content: center;
  color: gray;
}

.odometer-inside {
  display: flex !important;
}

/* 




*/
html body{
    margin: 0; height: 100%;
    background: var(--bg-color-body);
    overflow-x: hidden;
}

a {
  display: contents;
  color: #03a9f4;
  text-decoration: none;
}

#container {
    width: 100%;
    height: 100%;
}
#left_panel {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    /* width: 83%; */
    right: 100px;
    min-width: 30%;
    z-index: 1488;
}

#right_panel {
    right: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    color:#fff;
    max-width: 70%;
    z-index: 111111;
    position: fixed;
}

#drag {
  position: absolute;
  left: -33px;
  top: 5%;
  bottom: 0px;
  width: 70px;
  height: 73%;
  cursor: w-resize;
  background: rgba(0, 0, 0, 0.282);
  filter: blur(40px);
  opacity: 0;
  transition: opacity 0.3s ease 0s;
  border-radius: 20px;
}

#drag:hover{
    opacity: 1;
}

iframe#ytplayer{
  width: 100% !important;
  height: 100vh;
}

iframe#ytchat{
    width: 100% !important;
    height: 100.1vh;
}

.chat {
    padding-left: 5px;
    padding-right: 5px;
    min-width: 302px;
}

/* 
      Homepage btn
*/
.homepage {
  position: absolute;
  z-index: 1489;
  width: 100%;
  max-width: 90px;
  height: 50%;
  background: #ffffff30;
  cursor: pointer;
  bottom: 0;
  top: 25%;
  left: -45px;
  border-radius: 0 50% 50% 0;
  opacity: 0;
  transition: 0.7s;
  box-shadow: 0px 10px 20px #00000012;
  border: 0;
}

.homepage:hover{
  opacity: 0.7;
}

/* 
     Hide chat btn     
*/
.hideChatBtn {
  position: absolute;
  z-index: 1489;
  width: 100%;
  max-width: 90px;
  height: 50%;
  background: #ffffff30;
  cursor: pointer;
  bottom: 0;
  top: 25%;
  right: -45px;
  border: 0;
  border-radius: 50% 0 0 50%;
  opacity: 0;
  transition: 0.7s;
  outline: 0;
  box-shadow: 0px 10px 20px #00000012;
}

.hideChatBtn:hover {
  opacity: 0.7;
}

/* 
     Popup chat btn     
*/
.PopupChatBtn {
  position: absolute;
  z-index: 1489;
  width: 50px;
  max-width: 90px;
  height: 70px;
  background: #ffffff30;
  cursor: pointer;
  bottom: 0;
  top: -50px;
  right: 100px;
  border: 0;
  border-radius: 20px;
  opacity: 0;
  transition: 0.7s;
  outline: 0;
  box-shadow: 0px 10px 20px #00000012;
}

.PopupChatBtn:hover {
  opacity: 0.7;
}

/* 
      Back to YouTube
*/
.back2youtube {
  position: absolute;
  z-index: 1489;
  width: 100%;
  max-width: 20%;
  height: 45px;
  background: #ffffff30;
  cursor: pointer;
  top: -20px;
  left: 40%;
  border: 0;
  border-radius: 0 0 50% 50%;
  opacity: 0;
  transition: 0.7s;
  outline: 0;
  box-shadow: 0px 10px 20px #00000012;
}

.back2youtube:hover{
  opacity: 0.7;
}

/* 

ControlBtns

*/
#YouTube-player-progress {
  width: 17vw;
  max-width: 380px;
}
#YouTube-player-volume {
  width: 17vw;
  max-width: 380px;
}

/* 

BUTTONS STYLE

*/
.ControlBtns {
  color: white;
  position: absolute;
  bottom: 8%;
  background: #ffffff30;
  padding: 13px;
  left: 39%;
  max-width: 522px;
  border-radius: 30px;
  white-space: nowrap;
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 300ms;
  border: #e0090910 1px solid;
  height: 10px;
}

.ControlBtns:hover{
  opacity: 1;
  /* box-shadow: 0 1rem 6rem 1rem #00000059; */
}

span#textInput {
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  font-weight: 100;
  display: flex;
  margin-top: -23px;
  color: white;
  flex-direction: column;
  padding-right: 3px;
  align-items: flex-end;
}

.mdl-slider__container {
  left: -20px;
  top: -4px;
}


/*
* material-design-lite - Material Design Components in CSS, JS and HTML
* @version v1.3.0
* @license Apache-2.0
* @copyright 2015 Google, Inc.
* @link https://github.com/google/material-design-lite
*/

_:-ms-input-placeholder,:root .mdl-slider.mdl-slider.is-upgraded {
  -ms-appearance: none;
  height: 32px;
  margin: 0
}

.mdl-slider {
  width: calc(100% - 40px);
  margin: 0 20px
}

.mdl-slider.is-upgraded {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 2px;
  background: 0 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
  padding: 0;
  color: rgb(63,81,181);
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  z-index: 1;
  cursor: pointer
}

.mdl-slider.is-upgraded::-moz-focus-outer {
  border: 0
}

.mdl-slider.is-upgraded::-ms-tooltip {
  display: none
}

.mdl-slider.is-upgraded::-webkit-slider-runnable-track {
  background: 0 0
}

.mdl-slider.is-upgraded::-moz-range-track {
  background: 0 0;
  border: none
}

.mdl-slider.is-upgraded::-ms-track {
  background: 0 0;
  color: transparent;
  height: 2px;
  width: 100%;
  border: none
}

.mdl-slider.is-upgraded::-ms-fill-lower {
  padding: 0;
  background: linear-gradient(to right,transparent,transparent 16px,rgb(63,81,181)16px,rgb(63,81,181)0)
}

.mdl-slider.is-upgraded::-ms-fill-upper {
  padding: 0;
  background: linear-gradient(to left,transparent,transparent 16px,rgba(0,0,0,.26)16px,rgba(0,0,0,.26)0)
}

.mdl-slider.is-upgraded::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
  border-radius: 50%;
  background: rgb(63,81,181);
  border: none;
  transition: transform .18s cubic-bezier(.4,0,.2,1),border .18s cubic-bezier(.4,0,.2,1),box-shadow .18s cubic-bezier(.4,0,.2,1),background .28s cubic-bezier(.4,0,.2,1);
  transition: transform .18s cubic-bezier(.4,0,.2,1),border .18s cubic-bezier(.4,0,.2,1),box-shadow .18s cubic-bezier(.4,0,.2,1),background .28s cubic-bezier(.4,0,.2,1),-webkit-transform .18s cubic-bezier(.4,0,.2,1)
}

.mdl-slider.is-upgraded::-moz-range-thumb {
  -moz-appearance: none;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
  border-radius: 50%;
  background-image: none;
  background: rgb(63,81,181);
  border: none
}

.mdl-slider.is-upgraded:focus:not(:active)::-webkit-slider-thumb {
  box-shadow: 0 0 0 10px rgba(63,81,181,.26)
}

.mdl-slider.is-upgraded:focus:not(:active)::-moz-range-thumb {
  box-shadow: 0 0 0 10px rgba(63,81,181,.26)
}

.mdl-slider.is-upgraded:active::-webkit-slider-thumb {
  background-image: none;
  background: rgb(63,81,181);
  -webkit-transform: scale(1.5);
  transform: scale(1.5)
}

.mdl-slider.is-upgraded:active::-moz-range-thumb {
  background-image: none;
  background: rgb(63,81,181);
  transform: scale(1.5)
}

.mdl-slider.is-upgraded::-ms-thumb {
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  background: rgb(63,81,181);
  transform: scale(.375);
  transition: transform .18s cubic-bezier(.4,0,.2,1),background .28s cubic-bezier(.4,0,.2,1);
  transition: transform .18s cubic-bezier(.4,0,.2,1),background .28s cubic-bezier(.4,0,.2,1),-webkit-transform .18s cubic-bezier(.4,0,.2,1)
}

.mdl-slider.is-upgraded:focus:not(:active)::-ms-thumb {
  background: radial-gradient(circle closest-side,rgb(63,81,181)0%,rgb(63,81,181)37.5%,rgba(63,81,181,.26)37.5%,rgba(63,81,181,.26)100%);
  transform: scale(1)
}

.mdl-slider.is-upgraded:active::-ms-thumb {
  background: rgb(63,81,181);
  transform: scale(.5625)
}

.mdl-slider.is-upgraded.is-lowest-value::-webkit-slider-thumb {
  border: 2px solid rgba(0,0,0,.26);
  background: 0 0
}

.mdl-slider.is-upgraded.is-lowest-value::-moz-range-thumb {
  border: 2px solid rgba(0,0,0,.26);
  background: 0 0
}

.mdl-slider.is-upgraded.is-lowest-value+.mdl-slider__background-flex>.mdl-slider__background-upper {
  left: 6px
}

.mdl-slider.is-upgraded.is-lowest-value:focus:not(:active)::-webkit-slider-thumb {
  box-shadow: 0 0 0 10px rgba(0,0,0,.12);
  background: rgba(0,0,0,.12)
}

.mdl-slider.is-upgraded.is-lowest-value:focus:not(:active)::-moz-range-thumb {
  box-shadow: 0 0 0 10px rgba(0,0,0,.12);
  background: rgba(0,0,0,.12)
}

.mdl-slider.is-upgraded.is-lowest-value:active::-webkit-slider-thumb {
  border: 1.6px solid rgba(0,0,0,.26);
  -webkit-transform: scale(1.5);
  transform: scale(1.5)
}

.mdl-slider.is-upgraded.is-lowest-value:active+.mdl-slider__background-flex>.mdl-slider__background-upper {
  left: 9px
}

.mdl-slider.is-upgraded.is-lowest-value:active::-moz-range-thumb {
  border: 1.5px solid rgba(0,0,0,.26);
  transform: scale(1.5)
}

.mdl-slider.is-upgraded.is-lowest-value::-ms-thumb {
  background: radial-gradient(circle closest-side,transparent 0%,transparent 66.67%,rgba(0,0,0,.26)66.67%,rgba(0,0,0,.26)100%)
}

.mdl-slider.is-upgraded.is-lowest-value:focus:not(:active)::-ms-thumb {
  background: radial-gradient(circle closest-side,rgba(0,0,0,.12)0%,rgba(0,0,0,.12)25%,rgba(0,0,0,.26)25%,rgba(0,0,0,.26)37.5%,rgba(0,0,0,.12)37.5%,rgba(0,0,0,.12)100%);
  transform: scale(1)
}

.mdl-slider.is-upgraded.is-lowest-value:active::-ms-thumb {
  transform: scale(.5625);
  background: radial-gradient(circle closest-side,transparent 0%,transparent 77.78%,rgba(0,0,0,.26)77.78%,rgba(0,0,0,.26)100%)
}

.mdl-slider.is-upgraded.is-lowest-value::-ms-fill-lower {
  background: 0 0
}

.mdl-slider.is-upgraded.is-lowest-value::-ms-fill-upper {
  margin-left: 6px
}

.mdl-slider.is-upgraded.is-lowest-value:active::-ms-fill-upper {
  margin-left: 9px
}

.mdl-slider.is-upgraded:disabled:focus::-webkit-slider-thumb,.mdl-slider.is-upgraded:disabled:active::-webkit-slider-thumb,.mdl-slider.is-upgraded:disabled::-webkit-slider-thumb {
  -webkit-transform: scale(.667);
  transform: scale(.667);
  background: rgba(0,0,0,.26)
}

.mdl-slider.is-upgraded:disabled:focus::-moz-range-thumb,.mdl-slider.is-upgraded:disabled:active::-moz-range-thumb,.mdl-slider.is-upgraded:disabled::-moz-range-thumb {
  transform: scale(.667);
  background: rgba(0,0,0,.26)
}

.mdl-slider.is-upgraded:disabled+.mdl-slider__background-flex>.mdl-slider__background-lower {
  background-color: rgba(0,0,0,.26);
  left: -6px
}

.mdl-slider.is-upgraded:disabled+.mdl-slider__background-flex>.mdl-slider__background-upper {
  left: 6px
}

.mdl-slider.is-upgraded.is-lowest-value:disabled:focus::-webkit-slider-thumb,.mdl-slider.is-upgraded.is-lowest-value:disabled:active::-webkit-slider-thumb,.mdl-slider.is-upgraded.is-lowest-value:disabled::-webkit-slider-thumb {
  border: 3px solid rgba(0,0,0,.26);
  background: 0 0;
  -webkit-transform: scale(.667);
  transform: scale(.667)
}

.mdl-slider.is-upgraded.is-lowest-value:disabled:focus::-moz-range-thumb,.mdl-slider.is-upgraded.is-lowest-value:disabled:active::-moz-range-thumb,.mdl-slider.is-upgraded.is-lowest-value:disabled::-moz-range-thumb {
  border: 3px solid rgba(0,0,0,.26);
  background: 0 0;
  transform: scale(.667)
}

.mdl-slider.is-upgraded.is-lowest-value:disabled:active+.mdl-slider__background-flex>.mdl-slider__background-upper {
  left: 6px
}

.mdl-slider.is-upgraded:disabled:focus::-ms-thumb,.mdl-slider.is-upgraded:disabled:active::-ms-thumb,.mdl-slider.is-upgraded:disabled::-ms-thumb {
  transform: scale(.25);
  background: rgba(0,0,0,.26)
}

.mdl-slider.is-upgraded.is-lowest-value:disabled:focus::-ms-thumb,.mdl-slider.is-upgraded.is-lowest-value:disabled:active::-ms-thumb,.mdl-slider.is-upgraded.is-lowest-value:disabled::-ms-thumb {
  transform: scale(.25);
  background: radial-gradient(circle closest-side,transparent 0%,transparent 50%,rgba(0,0,0,.26)50%,rgba(0,0,0,.26)100%)
}

.mdl-slider.is-upgraded:disabled::-ms-fill-lower {
  margin-right: 6px;
  background: linear-gradient(to right,transparent,transparent 25px,rgba(0,0,0,.26)25px,rgba(0,0,0,.26)0)
}

.mdl-slider.is-upgraded:disabled::-ms-fill-upper {
  margin-left: 6px
}

.mdl-slider.is-upgraded.is-lowest-value:disabled:active::-ms-fill-upper {
  margin-left: 6px
}

.mdl-slider__ie-container {
  height: 18px;
  overflow: visible;
  border: none;
  margin: none;
  padding: none
}

.mdl-slider__container {
  height: 18px;
  position: relative;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row
}

.mdl-slider__container,.mdl-slider__background-flex {
  background: 0 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}

.mdl-slider__background-flex {
  position: absolute;
  height: 2px;
  width: calc(100% - 52px);
  top: 50%;
  left: 0;
  margin: 0 26px;
  overflow: hidden;
  border: 0;
  padding: 0;
  -webkit-transform: translate(0,-1px);
  transform: translate(0,-1px)
}

.mdl-slider__background-lower {
  background: rgb(63,81,181)
}

.mdl-slider__background-lower,.mdl-slider__background-upper {
  -webkit-flex: 0;
  -ms-flex: 0;
  flex: 0;
  position: relative;
  border: 0;
  padding: 0
}

.mdl-slider__background-upper {
  background: rgba(0,0,0,.26);
  transition: left .18s cubic-bezier(.4,0,.2,1)
}

