@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

html,
body {
    margin: 0;
    background: #0d1117;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3rem;
    overflow: hidden;
}

fieldset {
    border-radius: 15px;
    border-color: blueviolet;
    min-width: 695px;
    max-width: 695px;
    min-height: 645px;
    max-height: 645px;
    background: #000;
    box-shadow: rgb(0 0 0) 7px 7px 1rem;
    overflow: auto;
}

legend {
    color: blueviolet;
    font-weight: bold;
    margin-bottom: 14px;
}

.con {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.status, .channelTitle {
    text-transform: capitalize;
    color: #ffffff;
    background: #3f51b5;
    border-radius: 100px;
    padding-right: 9px;
    padding-left: 9px;
    padding-bottom: 1px;
}

#d {
    cursor: pointer;
    margin-top: 2px;
    margin-bottom: 3px;
    background: #561b8e2b;
    border-radius: 10px;
    border: 1px solid #673ab780;
    padding-left: 10px;
}


div#LC_ChannelName {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    max-height: 574px;
    min-height: 574px;
    overflow-x: hidden;
    min-width: 704px;
    max-width: 704px;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 675px;
}

img {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 2px solid #673ab7;
    height: 85px;
    margin-left: 10px;
    margin-right: 5px;
}

.text {
    line-height: 1.5;
    margin-right: -5px;
}


@media only screen and (max-width: 810px) {

    body,
    html {
        /* background: red; */
        font-size: 1.1rem;
    }
    fieldset {
        min-width: 515px;
        max-width: 515px;
    }

    .info {
        width: 500px;
    }

    img {
        height: 75px;
    }
    div#LC_ChannelName {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-content: flex-start;
        max-height: 580px;
        min-height: 580px;
        overflow-x: hidden;
        min-width: 526px;
        max-width: 526px;
    }

}

@media only screen and (max-width: 600px) {
    .text {
        line-height: 1.1;
    }
    fieldset {
        min-width: 325px;
        max-width: 325px;
    }
    .con {
        height: 85vh;
    }

    body,
    html {
        font-size: 1rem;
    }

    img {
        height: 75px;
        margin-left: 10px;
    }

    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        max-width: 220px;
    }

    .info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        width: 310px;
    }
    div#LC_ChannelName {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-content: flex-start;
        max-height: 585px;
        min-height: 585px;
        overflow-x: hidden;
        min-width: 334px;
        max-width: 334px;
    }
    #lastupdatetime {
        margin-top: 13px !important;
    }
}

#lastupdatetime {
    float: right;
    font-size: 12px;
    margin-top: 15px;
}

span.channelTitle {
    max-width: 150px;
    max-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

::-webkit-scrollbar {
    /*width: 5px;*/
    background: transparent;
    z-index: 12;
    overflow: visible;
}

::-webkit-scrollbar-thumb {
    /*width: 10px;*/
    background-color: #8a2be238;
    border-radius: 10px;
    z-index: 12;
    border: 1px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    transition: background-color .32s ease-in-out;
    margin: 4px;
    min-height: 32px;
    min-width: 32px;
}

::-webkit-scrollbar-thumb:hover {
    background: #8a2be273;
}

::-webkit-scrollbar-corner {
    background: #202020;
}
